
#myVideo {
    position: inherit;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    /* background-image:  our video ;*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: 3;
}

.section {
    text-align: center;
    overflow: hidden;
    background-color: rgba(225, 240, 280, 0.51);
    direction: rtl;
}

.section1 {
    padding-top: 200px;
}

.section-center {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.section-center ol {
    text-align: right;
}

.section-center ul {
    text-align: right;
}

.box {
    text-align: left;
    color: #808080;
    font-size: 1.2em;
    line-height: 1.6em;
}

.containerCentered {
    margin-right: auto;
    margin-left: auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    min-width: 940px;
    max-width: 1150px;
}

/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
.fp-tooltip {
    color: #AAA;
}

#fp-nav span, .fp-slidesNav span {
    border-color: #AAA;
}

#fp-nav li .active span, .fp-slidesNav .active span {
    background: #AAA;
}
