html {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: white;
    border-top: solid 10px #000;
    color: #333;
    font-weight: 300; /*TEST*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    direction: ltr;
    /*background: url("../Images/sitebg8.jpg") no-repeat center center fixed;*/
    background-size: cover;
    font-size: 12px;
}

.not-active-a {
    pointer-events: none;
    cursor: default;
    color: gray;
    text-decoration: none !important;
}

li a {
    font-size: 0.95em;
}

.site-menu li a {
    font-size: 1.1em;
}

a {
    /*color: #333;*/
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
}

    a:hover {
        background-color: transparent;
        color: blue;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

#body {
    clear: both;
    min-height: calc(81vh - 100px);
    padding-right: 0px;
    padding-left: 0px;
}

.site-header {
    position: fixed;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    /*background: linear-gradient(to right, #d9f1f7, #e2e2e2);*/
    background-color: #1b1919;
}

.site-menu {
    margin-top: 13px;
}

.navbar-default .site-header .navbar-nav > li > a {
    color: whitesmoke;
}

    .navbar-default .site-header .navbar-nav > li > a:hover,
    .navbar-default .site-header .navbar-nav > li > a:link,
    .navbar-default .site-header .navbar-nav > li > a:visited,
    .navbar-default .site-header .navbar-nav > li > a:active {
        color: white;
    }

.site-menu a:link, .site-menu a:visited, .site-menu a:active, .site-menu a:hover {
    color: whitesmoke;
}

.navbar-default .site-header .navbar-nav > li > a:hover {
    font-weight: 600;
    background-color: transparent;
}

.navbar-default .site-header .navbar-nav > li > a:focus, .navbar-default .site-header .navbar-nav > li > a:hover {
    font-weight: 600;
    background-color: transparent;
}

#nav {
    z-index: 90;
}

.language-button {
    margin-top: 4px;
}

.login-dropdown {
    color: whitesmoke;
    background-color: black;
}

.site-header .nav .open > a, .site-header .nav .open > a:focus, .site-header .nav .open > a:hover {
    background-color: black;
    /*border-color: #337ab7;*/
}

.navbar-default .site-header .navbar-nav > .open > a {
    background-image: -webkit-linear-gradient(top,#000000 0,#000000 100%);
}

#footer {
    position: inherit;
    background: black;
    color: white;
    background-color: black;
    padding-top: 15px;
}

    #footer a {
        color: white;
    }

    #footer b {
        color: white;
        font-size: 1em;
    }

    #footer .copyright {
        color: white;
        font-size: 0.8em;
        margin-top: 10px;
        margin-bottom: 10px;
    }


/* logo image
----------------------------------------------------------*/
.logoImage {
    margin: 10px;
    padding: 0;
    height: 60px;
    width: 160px;
}

/* login
----------------------------------------------------------*/
.site-header-login-group {
    margin-top: 8px;
}

    .site-header-login-group > a {
        margin-right: 5px !important;
    }

.login-box {
    margin-top: 60px;
    padding: 0px;
    background-color: white;
}

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }


input, textarea {
    border: 1px solid #e2e2e2;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        border: 1px solid #787878;
        cursor: pointer;
        font-weight: 600;
    }

td input[type="submit"],
td input[type="button"],
/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }
}



/* On Line Rates */
.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}


.editorRow label {
    float: left;
    width: 100px;
    text-align: right;
}

.editorRow input[type=text] {
    width: 80px;
    margin: 0 0 0 10px;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

        .sidebar-nav .navbar ul:not {
            display: block;
        }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

        .sidebar-nav .navbar li a {
            padding-top: 12px;
            padding-bottom: 12px;
        }
}


.ffx-wizard {
    margin-top: 20px;
}

.form-group .control-label.required:after {
    color: #e32;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top: 8px;
}

.form-group .control-label {
    text-align: start;
    /*margin-top: 5px;*/
}

.admin-manage-header {
    background-color: #209448;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.25em;
    color: white;
}

.user-manage-header {
    background-color: #209448;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.25em;
    color: white;
}

.ffx-ng-table > thead .header {
    background-color: #d9e4b9;
    font-size: 1em;
    font-weight: 600;
    width: auto;
    color: #333;
    height: auto;
}

.DashboardDiv .btn.active {
    text-decoration: underline;
}

.table-wide-column-1 {
    width: 140px;
}

ul.pagination.ng-table-pagination {
    margin: 0px 30px 10px 30px;
    font-weight: 600;
}

.ffx-ng-table > thead > tr > td,
.ffx-ng-table > thead > tr > th {
    background-color: lightgray;
}

.ffx-ng-table > tbody > tr:nth-child(even) {
    background-color: #edf6fa;
}

.ffx-ng-table > tbody > tr:nth-child(odd) {
    /*background-color: #d5f1fa;*/
}

.table-btn-td-2 {
    width: 100px;
    min-width: 100px;
}

.ffx-table {
    background-color: #e4f6ae;
    border: double;
}

    .ffx-table tr th {
        background-color: whitesmoke;
    }

table.ffx-table tr td a {
    text-decoration: underline;
}

.order-navigation {
    background-color: gray;
    /*padding: 10px;
    min-height: 40px;*/
}

.table-order-wrapper {
    padding: 5px;
}

.table-order-buy {
    background-color: #eff8d3;
}

    .table-order-buy .second-header > th {
        text-align: center;
        background-color: #d9e4b9;
    }

.table-order-sell {
    background-color: #fbe0d4;
}

    .table-order-sell .first-header > th,
    .table-order-buy .first-header > th {
        text-align: center;
        background-color: whitesmoke;
        font-size: 1.3em;
    }

    .table-order-sell .second-header > th {
        text-align: center;
        background-color: #e9c0ae;
    }

    .table-order-sell .second-header .selected,
    .table-order-buy .second-header .selected {
        text-decoration: underline;
    }

.large-font {
    font-size: 1.125em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}

.site-color1 {
    color: #209448;
}

.light-green {
    color: #7fb55e;
}

.blue {
    color: blue;
}

.on-line-window .panel {
    border-width: 0px;
}

.panel-danger > .panel-heading {
    color: #333;
    background-image: -webkit-linear-gradient(top,#e2e2e2 0,#e2e2e2 100%);
    border-color: white;
}

#on-line-rates-remarks {
    text-align: center;
}

.forgot-your-password {
    font-size: 0.625em;
}

.remember-me {
    font-size: 0.625em;
    margin-left: 20px;
    margin-top: 0px;
    display: inline;
    width: auto;
}

.full-width {
    width: 100%;
}

.start-align {
    text-align: start;
}

.end-align {
    text-align: end;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.ffx-panel {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


.panel-title {
    font-size: 1.25em;
    text-align: center;
    font-weight: bold;
}

/* simple-currency-exchange Window */

.simple-currency-exchange-wrapper {
    /*margin-top: 10px;*/
}

.simple-currency-exchange {
    margin: 0px;
    padding: 0px;
}

.exchange-amount {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.exchange-system-header {
    background-color: #209448;
    color: white;
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    padding: 5px;
}

.exchange-system-color {
    color: #7fb55e;
}

.exchange-system-icon {
    font-size: 1em;
}

/* Order Window */
.order-system-wrapper {
    /*margin-top: 10px;*/
}

.order-currency-exchange-main {
    margin: 0px;
    padding: 0px;
}

.order-currency-exchange-stage {
    padding: 15px;
    padding-top: 0px;
}

.order-book-panel {
    padding: 0px;
    padding-top: 0px;
}

    .order-book-panel .panel-body {
        padding: 5px;
    }

    .order-book-panel .form-group label {
        margin-top: 5px;
    }

#pairSelect {
    font-weight: 700;
    font-size: 1em;
    /*height: 1.2em;*/
}

#minAmountBuy {
    max-width: 75px;
}

#maxAmountBuy {
    max-width: 75px;
}

.orderbook-min {
    float: left;
}

.orderbook-max {
    float: left;
    margin-left: 20px;
}

.orderbook-select-row {
    /*margin-top: 1em !important;*/
}

.orderbook-mid-rate-label {
    font-size: 1.1em;
    color: green;
}

.order-confirm {
    background-color: whitesmoke;
    padding: 15px;
    padding-top: 0px;
}

    .order-confirm .panel-body .form-group {
        margin: 0px;
        line-height: 30px;
    }

        .order-confirm .panel-body .form-group:nth-child(even) {
            background-color: #d9f1f7;
        }

        .order-confirm .panel-body .form-group:nth-child(odd) {
            background-color: #e2e2e2;
        }

.order-system-header {
    background-color: #209448;
    color: white;
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    padding: 5px;
}

.order-system-color {
    color: #6b7c97;
}

.order-system-icon {
    font-size: 1em;
}

.pairList table {
}

.pairList td {
    padding: 5px;
    /*border: 5px outset brown;*/
}

.pairList .pairItem {
    min-width: 150px;
    height: 50px;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    background-color: #e2e2e2;
    cursor: pointer;
    text-decoration: underline;
}

.pairList .selected {
    background-color: #209448;
    color: whitesmoke;
}

.order-action-description {
    color: #209448;
    font-size: 1.125em;
    font-weight: 700;
    border-radius: 10px;
}

.green-button {
    background-color: #209448;
    color: white;
    font-weight: 800;
    border-radius: 10px;
}

    .green-button:hover {
        background-color: #7fb55e;
        color: black;
    }

#registerLink {
    padding: 5px;
    margin-top: 10px;
}

.blue-button {
    background-color: #73abcb;
    color: white;
    font-weight: 800;
    border-radius: 10px;
}

    .blue-button:hover {
        background-color: #a6dbed;
        color: black;
    }

.navbar-default .site-header .navbar-nav > li > a.green-button:hover {
    background-color: #7fb55e;
}

.navbar-default .site-header .navbar-nav > li > a.blue-button:hover {
    background-color: #a6dbed;
}


#loginLink {
    padding: 5px;
    margin-top: 10px;
}

.large-glyphicon {
    font-size: 1.8em;
}

.order-value {
    text-align: start;
    margin-top: 8px;
    font-weight: 700;
}

.simple-trading-order, .simple-trading-confirm {
    background-color: whitesmoke;
}

    .simple-trading-order .panel-body .form-group {
        margin: 0px;
        padding: 0px;
        line-height: 30px;
    }

        .simple-trading-order .panel-body .form-group .control-label {
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .simple-trading-order .panel-body .form-group div {
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .simple-trading-order .panel-body .form-group:nth-child(even) {
            background-color: white;
        }

        .simple-trading-order .panel-body .form-group:nth-child(odd) {
            background-color: #f0f0ff;
        }

    .simple-trading-confirm .panel-body .form-group {
        margin: 0px;
        line-height: 30px;
    }

        .simple-trading-confirm .panel-body .form-group:nth-child(even) {
            background-color: #d9f1f7;
        }

        .simple-trading-confirm .panel-body .form-group:nth-child(odd) {
            background-color: #e2e2e2;
        }


div.disabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

.demoToLiveTrading {
    background-color: #e4f6ae;
    padding: 10px;
}

.demo-to-real-button {
    margin-left: 50px;
}

.demo-to-real-label {
    text-align: start;
    font-weight: 700;
}

textarea {
    width: 100%;
}

.order-radio-div {
    margin-top: 5px;
    text-align: start;
}

    .order-radio-div input[type="radio"]:checked + span {
        color: black;
        font-weight: bold;
    }

.countdown-enabled {
    font-size: 3em;
    color: green;
    font-weight: 700;
}

.countdown-disabled {
    font-size: 3em;
    color: red;
    font-weight: 300;
}

.DashboardDiv {
    padding: 20px;
}

    .DashboardDiv .header {
        width: 100%;
        height: 40px;
        background-color: #209448;
        color: white;
        text-align: start;
        font-size: 1.5em;
        margin: 0px;
    }

    .DashboardDiv .key {
        font-size: 0.8em;
        /*font-weight: 600;*/
    }

    .DashboardDiv .value {
        font-size: 1.125em;
        font-weight: 700;
        margin: 30px 0px 30px 0px;
    }

    .DashboardDiv .dashboard-square {
        min-width: 150px;
        margin: 3px;
        text-align: center;
    }

.statistics-data {
    background-color: #e2e2e2;
}

    .statistics-data .value {
        font-size: 2em;
    }

.AllSiteArea {
    padding: 0px;
    min-width: 300px;
}

.CompanyArea {
    padding: 20px;
    min-width: 300px;
}

#dashboardSiteChart {
    max-height: 600px;
    max-width: 600px;
    background-color: #787878;
}

#dashboardCompanyChart {
    max-height: 600px;
    max-width: 600px;
    background-color: #000;
}

.howItWorksSection {
    background-color: white;
    font-size: 1.125em;
    /*line-height: 95%;*/
}

.how-it-work-image {
    max-width: 1200px;
    width: 90%;
}

.aboutSection, .ffx-commission-section {
    background-color: #209448;
    font-size: 1.125em;
    color: whitesmoke;
}

    .aboutSection .backcolor, .ffx-commission-section .backcolor {
        background-color: #209448;
    }

    .ffx-commission-section a {
        color: whitesmoke;
    }

.bank-commission-form {
    /*border: 10px outset #b1b4bb;*/
}

    .bank-commission-form .remark {
        font-size: 0.8em;
        font-weight: 200;
        line-height: 20%;
    }

    .bank-commission-form .panel-title {
        background-color: whitesmoke;
    }

#myVideo {
    position: inherit;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    /* background-image:  our video ;*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: 3;
}

.hebrew-only {
    direction: rtl;
}

.section1 {
    /*padding-top: 100px;*/
    background-color: whitesmoke;
}

    .section1 .backcolor {
        padding-top: 100px;
        background-color: whitesmoke;
    }

    .section1 .text1, .section-corrency-converter .text1 {
        font-size: 1.5em;
    }

    .section1 .text2, .section-corrency-converter .text2 {
        font-size: 2em;
    }

    .section1 .btn-success {
        background-color: #209448;
    }

    .section1 .btn-group .btn-lg {
        width: 100%;
        margin: 10px;
    }

.section-center {
    /*width: 70%;
    margin-left: 15%;
    margin-right: 15%;*/
}

    .section-center ol {
        text-align: start;
    }

    .section-center ul {
        text-align: start;
    }

.small-line {
    line-height: 50%;
}

.home-class {
    background-color: white;
}

#PromilSlider label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
}

#PromilText {
    font-size: 1.5em;
    color: #209448;
    font-weight: 700;
}

.spreads-image-section {
    background-color: white;
    padding-bottom: 50px;
}

.spreads-image-header {
    font-size: 1.5em;
    font-weight: 700;
}

.USDILS-image {
    /*border: 10px outset #b1b4bb;*/
    /*background: url("../Images/USDILS_Spreads2.png") fixed 0 0;*/
    max-width: 1200px;
    width: 90%;
}

.calc-section {
    background-color: #209448;
    padding-bottom: 50px;
}

.dashboard-chart-header {
    font-size: 1.5em;
}

.dashboard-chart {
    padding: 10px;
    border: 1px outset #e2e2e2;
}

.currency-after-text {
    font-size: 2em;
    text-align: start;
    font-weight: 700;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
}

.no-margin {
    margin: 0px;
    padding: 0px;
}

.no-right-margin {
    margin-right: 0px;
    padding-right: 0px;
}

.no-left-margin {
    margin-left: 0px;
    padding-left: 0px;
}

.no-side-margin {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.home-seperator {
    height: 5px;
    background-color: #209448;
}

.label-down {
    margin-top: 5px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.carousel-div {
    background-color: #e9eff1;
}

.tales {
    width: 80%;
    max-width: 600px !important;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
    min-height: 400px !important;
}

.carousel-text {
    font-size: 1.125em;
}

.carousel-footer {
    background-color: #787878;
    color: whitesmoke;
}

.carousel-caption {
    top: 20px;
    bottom: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
}

.carousel-image {
    padding-top: 150px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.glyphicon-chevron-left {
    color: black;
}

.glyphicon-chevron-right {
    color: black;
}

.carousel-indicators li {
    border-color: black;
}

.carousel-indicators .active {
    background-color: black;
}

div.disabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

.remove-row-margin {
    margin-right: 0;
    margin-left: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}





.corrency-converter-div {
    width: 100%;
}

.send_money_box {
    margin-bottom: -6px;
    margin-top: 30px;
}

.recive_money_box {
    margin-top: 17px;
}

.select_currency_header {
    position: absolute;
    z-index: 80;
    padding: 15px 6px 0;
    color: #0191ff;
    font-weight: 500;
    font-size: 1.275em;
}

.see-why-text {
    margin-top: 20px;
    font-size: 1.25em;
}

#recive_money_input, #send_money_input {
    padding: 0 10px 0;
    height: 50px !important;
    border-color: #000;
    border-color: #228cdb;
    color: #228cdb;
    font-size: 2em !important;
    direction: rtl;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 0;
}

.select_currency_type {
    -moz-appearance: none;
    padding-right: 27px;
    width: 100px;
    height: 50px;
    background-position: 100px 50px;
    background-repeat: no-repeat;
    color: #228cdb;
    font-weight: 300 !important;
    font-size: 20px;
    font-family: inherit;
    border-color: #228cdb !important;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    outline: none !important;
    border-left: 0px;
}

    .select_currency_type:focus, .select_currency_type:hover {
        background-color: rgba(255,255,255,1) !important;
        color: #0191ff !important;
        background-position: 119px 28px;
        background-repeat: no-repeat !important;
    }

#send_money_dropdown, #recive_money_dropdown {
    width: 226%;
    margin-left: -125%;
}

.scrollable-menu {
    overflow-x: hidden;
    max-height: 200px;
    height: auto;
}

.currency_options {
    z-index: 85;
    font-size: 20px;
}

.btn-get-started {
    font-size: 2em;
    margin-bottom: 50px;
    margin-top: 40px;
    width: 50%;
}

.currencyIso {
    font-size: large;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.currencyName {
    font-size: small;
}

.section-corrency-converter {
    padding-top: 100px;
    background-color: #f1efef;
}

.font-bold {
    font-weight: bold;
}

.see_why_table {
    font-size: 1.1em;
}












@media screen and (max-width: 450px /* For smart phones 5.1 */ ) {
    .ffx-commission-section h2 {
        font-size: 28px;
    }

    .howItWorksSection li {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 10px /* For Note smart phones */ ) {
    .DashboardDiv .btn-group .btn {
        font-size: x-small;
    }

    .order-navigation .btn-group .btn {
        font-size: x-small;
    }

    .dashboard-chart {
        min-width: 400px;
        max-width: 400px;
        min-height: 300px;
        max-height: 300px;
    }

    .section-corrency-converter, .section1 .backcolor {
        padding-top: 60px;
    }

    body {
        font-size: 12px;
    }

    .btn-lg,
    .btn-group-lg > .btn {
        padding: 7px 11px; /*10px 16px;*/
        font-size: 14px; /* 18px */
    }

    .simple-trading-order > .panel-body.disabled {
        display: none;
    }

    .simple-trading-order > .panel-heading.disabled {
        display: none;
    }

    .order-value {
        margin-top: 0px;
    }
}

@media screen and (min-width: 450px /* For Note smart phones */ ) {
    .carousel-inner {
        width: 100%;
        max-height: 500px !important;
        min-height: 500px !important;
    }

    #recive_money_input, #send_money_input {
        height: 75px !important;
        font-size: 3.125em !important;
    }


    .select_currency_type {
        padding-right: 37px;
        width: 150px;
        height: 75px;
        background-position: 150px 75px;
        font-size: 32px;
    }

    .select_currency_header {
        padding: 24px 6px 0;
    }

    #pairSelect {
        font-size: 1.2em;
    }

    .orderbook-mid-rate-label {
        font-size: 1.2em;
    }

    #minAmountBuy {
        max-width: 100px;
    }

    #maxAmountBuy {
        max-width: 100px;
    }
}

@media screen and (min-width: 768px /* For Note smart phones */ ) {
    .section1 .btn-group .btn-lg {
        width: auto;
    }

    #pairSelect {
        font-size: 2em;
        height: 1.8em;
    }

    .orderbook-select-row {
        margin-top: 1em !important;
    }

    .orderbook-mid-rate-label {
        font-size: 1.8em;
    }

    #minAmountBuy {
        max-width: initial;
    }

    #maxAmountBuy {
        max-width: initial;
    }
}

@media screen and (min-width: 1024px /* For tablet and laptop */ ) {
    body {
        font-size: 14px;
    }

    .btn-lg,
    .btn-group-lg > .btn {
        padding: 9px 14px;
        font-size: 16px;
    }

    .carousel-inner {
        max-height: 700px !important;
        min-height: 700px !important;
    }

    .section1 .backcolor {
        padding-top: 100px;
    }

    .simple-trading-order > .panel-body.disabled {
        display: block;
    }

    .simple-trading-order > .panel-heading.disabled {
        display: block;
    }

    .order-value {
        margin-top: 8px;
    }

    .dashboard-chart {
        min-width: 800px;
        max-width: 800px;
        min-height: 400px;
        max-height: 400px;
    }

    .DashboardDiv .btn-group .btn {
        font-size: medium;
    }

    .order-navigation .btn-group .btn {
        font-size: medium;
    }
}

@media screen and (min-width: 1200px ) {
    .corrency-converter-div {
        padding-left: 10%;
        padding-right: 10%;
    }

    body {
        font-size: 16px;
    }

    .btn-lg,
    .btn-group-lg > .btn {
        padding: 10px 16px;
        font-size: 18px;
    }

    .dashboard-chart {
        min-width: 1000px;
        max-width: 1000px;
        min-height: 700px;
        max-height: 700px;
    }

    .carousel-inner {
        max-height: 800px !important;
        min-height: 800px !important;
    }

    .select_currency_type {
        font-size: 35px;
    }
}

@media screen and (min-width: 1700px ) {
    .corrency-converter-div {
        padding-left: 20%;
        padding-right: 20%;
    }
}
