html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: white;
    border-top: solid 10px #000;
    color: #333;
    /*font-size: 16px; */
    font-weight: 300; /*TEST*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    direction: ltr;
    /*background: url("../Images/sitebg8.jpg") no-repeat center center fixed;*/
    background-size: cover;
}

.not-active-a {
    pointer-events: none;
    cursor: default;
    color: gray;
    text-decoration: none !important;
}

li a {
    font-size: 15px;
}

a {
    /*color: #333;*/
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
}

    a:hover {
        background-color: transparent;
        color: blue;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

#body {
    clear: both;
    min-height: calc(81vh - 100px);
}

.site-header {
    position: fixed;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    /*background: linear-gradient(to right, #d9f1f7, #e2e2e2);*/
    background-color: #1b1919;
}

.site-menu {
    margin-top: 13px;
}

.navbar-default .site-header .navbar-nav > li > a {
    color: whitesmoke;
}

    .navbar-default .site-header .navbar-nav > li > a:hover,
    .navbar-default .site-header .navbar-nav > li > a:link,
    .navbar-default .site-header .navbar-nav > li > a:visited,
    .navbar-default .site-header .navbar-nav > li > a:active {
        color: white;
    }

.site-menu a:link, .site-menu a:visited, .site-menu a:active, .site-menu a:hover {
    color: whitesmoke;
}

.navbar-default .site-header .navbar-nav > li > a:hover {
    font-weight: 600;
    background-color: transparent;
}

.navbar-default .site-header .navbar-nav > li > a:focus, .navbar-default .site-header .navbar-nav > li > a:hover {
    font-weight: 600;
    background-color: transparent;
}

#nav {
    z-index: 90;
}

.language-button {
    margin-top: 4px;
}

.login-dropdown {
    color: whitesmoke;
    background-color: black;
}

.site-header .nav .open > a, .site-header .nav .open > a:focus, .site-header .nav .open > a:hover {
    background-color: black;
    /*border-color: #337ab7;*/
}

.navbar-default .site-header .navbar-nav > .open > a {
    background-image: -webkit-linear-gradient(top,#000000 0,#000000 100%);
}

#footer {
    position: inherit;
    background: black;
    color: white;
    background-color: black;
    padding-top: 15px;
}

    #footer a {
        color: white;
    }

    #footer b {
        color: white;
        font-size: medium;
    }

    #footer .copyright {
        color: white;
        font-size: x-small;
    }

#footer-image {
    width: 100%;
    height: 100px;
    background-image: url('../Images/import-export.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c7ecf6;
}

/* logo image
----------------------------------------------------------*/
.logoImage {
    margin: 10px;
    padding: 0;
    height: 60px;
    width: 160px;
}

/* login
----------------------------------------------------------*/
.login-box {
    margin-top: 60px;
    padding: 0px;
    background-color: white;
}

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }


input, textarea {
    border: 1px solid #e2e2e2;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        border: 1px solid #787878;
        cursor: pointer;
        font-weight: 600;
    }

td input[type="submit"],
td input[type="button"],
/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    /*font-size: 1.2em;*/
    /*text-align: left;*/
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            /*font-size: 0.75em;*/
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        /*font-size: .85em;*/
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }
}



/* On Line Rates */
.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}


.editorRow label {
    float: left;
    width: 100px;
    text-align: right;
}

.editorRow input[type=text] {
    width: 80px;
    margin: 0 0 0 10px;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

        .sidebar-nav .navbar ul:not {
            display: block;
        }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

        .sidebar-nav .navbar li a {
            padding-top: 12px;
            padding-bottom: 12px;
        }
}


.ffx-wizard {
    margin-top: 20px;
}

.form-group .control-label.required:after {
    color: #e32;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top: 8px;
}

.form-group .control-label {
    text-align: start;
    /*margin-top: 5px;*/
}

.admin-manage-header {
    background-color: #209448;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    color: white;
}

.user-manage-header {
    background-color: #209448;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    color: white;
}

.ffx-table {
    background-color: #e4f6ae;
    border: double;
}

    .ffx-table tr th {
        background-color: whitesmoke;
    }

table.ffx-table tr td a {
    text-decoration: underline;
}

.table-order-buy {
    background-color: #eff8d3;
}

    .table-order-buy .second-header > th {
        text-align: center;
        background-color: #d9e4b9;
    }

.table-order-sell {
    background-color: #fbe0d4;
}

    .table-order-sell .first-header > th,
    .table-order-buy .first-header > th {
        text-align: center;
        background-color: whitesmoke;
    }

    .table-order-sell .second-header > th {
        text-align: center;
        background-color: #e9c0ae;
    }

    .table-order-sell .second-header .selected,
    .table-order-buy .second-header .selected {
        text-decoration: underline;
    }

.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}

.site-color1 {
    color: #209448;
}

.light-green {
    color: #7fb55e;
}

.blue {
    color: blue;
}

.on-line-window .panel {
    border-width: 0px;
}

.panel-danger > .panel-heading {
    color: #333;
    background-image: -webkit-linear-gradient(top,#e2e2e2 0,#e2e2e2 100%);
    border-color: white;
}

#on-line-rates-remarks {
    text-align: center;
}

.forgot-your-password {
    font-size: x-small;
}

.remember-me {
    font-size: x-small;
    margin-left: 20px;
    margin-top: 0px;
    display: inline;
    width: auto;
}

.full-width {
    width: 100%;
}

.start-align {
    text-align: start;
}

.end-align {
    text-align: end;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    /*font-size: 12px;*/
}

.ffx-panel {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


.panel-title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* simple-currency-exchange Window */

.simple-currency-exchange-wrapper {
    margin-top: 10px;
}

.simple-currency-exchange {
    margin: 15px;
    padding: 0px;
}

.exchange-amount {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.exchange-system-header {
    background-color: #209448;
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 5px;
}

.exchange-system-color {
    color: #7fb55e;
}

.exchange-system-icon {
    font-size: 25px;
}

/* Order Window */
.order-system-wrapper {
    margin-top: 10px;
}

.order-currency-exchange-main {
    margin: 15px;
    padding: 0px;
}

.order-currency-exchange-stage {
    padding: 15px;
    padding-top: 0px;
}

.ordr-book-panel {
    padding: 15px;
    padding-top: 0px;
}

.ordr-book-panel .form-group label {
    margin-top: 5px;
}

.order-confirm {
    background-color: whitesmoke;
    padding: 15px;
    padding-top: 0px;
}

    .order-confirm .panel-body .form-group {
        margin: 0px;
        line-height: 30px;
    }

        .order-confirm .panel-body .form-group:nth-child(even) {
            background-color: #d9f1f7;
        }

        .order-confirm .panel-body .form-group:nth-child(odd) {
            background-color: #e2e2e2;
        }

.order-system-header {
    background-color: #209448;
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 5px;
}

.order-system-color {
    color: #6b7c97;
}

.order-system-icon {
    font-size: 25px;
}

.pairList table {
}

.pairList td {
    padding: 5px;
    /*border: 5px outset brown;*/
}

.pairList .pairItem {
    min-width: 150px;
    height: 50px;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    background-color: #e2e2e2;
    cursor: pointer;
    text-decoration: underline;
}

.pairList .selected {
    background-color: #209448;
    color: whitesmoke;
}

.order-action-description {
    color: #209448;
    font-size: large;
    font-weight: 700;
    border-radius: 10px;
}

.green-button {
    background-color: #209448;
    color: white;
    font-weight: 800;
    border-radius: 10px;
}

    .green-button:hover {
        background-color: #7fb55e;
        color: black;
    }

#registerLink {
    padding: 5px;
    margin-top: 10px;
}

.blue-button {
    background-color: #73abcb;
    color: white;
    font-weight: 800;
    border-radius: 10px;
}

    .blue-button:hover {
        background-color: #a6dbed;
        color: black;
    }

#loginLink {
    padding: 5px;
    margin-top: 10px;
}

.large-glyphicon {
    font-size: 22px;
}

.order-value {
    text-align: start;
    margin-top: 8px;
    font-weight: 700;
}

.simple-trading-order, .simple-trading-confirm {
    background-color: whitesmoke;
}

    .simple-trading-order .panel-body .form-group {
        margin: 5px;
        line-height: 30px;
    }

        .simple-trading-order .panel-body .form-group:nth-child(even) {
            background-color: white;
        }

        .simple-trading-order .panel-body .form-group:nth-child(odd) {
            background-color: #f0f0ff;
        }

    .simple-trading-confirm .panel-body .form-group {
        margin: 0px;
        line-height: 30px;
    }

        .simple-trading-confirm .panel-body .form-group:nth-child(even) {
            background-color: #d9f1f7;
        }

        .simple-trading-confirm .panel-body .form-group:nth-child(odd) {
            background-color: #e2e2e2;
        }


div.disabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

.demoToLiveTrading {
    background-color: #e4f6ae;
    padding: 10px;
}

.demo-to-real-button {
    margin-left: 50px;
}

.demo-to-real-label {
    text-align: start;
    font-weight: 700;
}

textarea {
    width: 100%;
}

.order-radio-div {
    margin-top: 5px;
}

    .order-radio-div input[type="radio"]:checked + span {
        color: black;
        font-weight: bold;
        font-size: medium;
    }

.countdown-enabled {
    font-size: 50px;
    color: green;
    font-weight: 700;
}

.countdown-disabled {
    font-size: 50px;
    color: red;
    font-weight: 300;
}

.DashboardDiv {
    padding: 20px;
}

    .DashboardDiv .header {
        width: 100%;
        height: 40px;
        background-color: #209448;
        color: white;
        text-align: start;
        font-size: x-large;
        margin: 0px;
    }

    .DashboardDiv .key {
        font-size: small;
        /*font-weight: 600;*/
    }

    .DashboardDiv .value {
        font-size: large;
        font-weight: 700;
        margin: 30px 0px 30px 0px;
    }

    .DashboardDiv .dashboard-square {
        min-width: 150px;
        margin: 3px;
        text-align: center;
    }

.AllSiteArea {
    padding: 20px;
    min-width: 300px;
}

.CompanyArea {
    padding: 20px;
    min-width: 300px;
}

#dashboardSiteChart {
    max-height: 600px;
    max-width: 600px;
    background-color: #787878;
}

#dashboardCompanyChart {
    max-height: 600px;
    max-width: 600px;
    background-color: #000;
}

.howItWorksSection {
    background-color: white;
    font-size: 18px;
    line-height: 95%;
}

.how-it-work-image {
    /*border: 10px outset #7fb55e;*/
    max-width: 1200px;
    width: 90%;
}

.aboutSection, .ffx-commission-section {
    background-color: #209448;
    font-size: 18px;
    color: whitesmoke;
}

    .aboutSection .backcolor, .ffx-commission-section .backcolor {
        background-color: #209448;
    }

    .ffx-commission-section a {
        color: whitesmoke;
    }

.bank-commission-form {
    /*border: 10px outset #b1b4bb;*/
}

    .bank-commission-form .remark {
        font-size: small;
        font-weight: 200;
        line-height: 10%;
    }

    .bank-commission-form .panel-title {
        background-color: whitesmoke;
    }

#myVideo {
    position: inherit;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    /* background-image:  our video ;*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: 3;
}

.hebrew-only {
    direction: rtl;
}

.section1 {
    /*padding-top: 100px;*/
    background-color: whitesmoke;
}

    .section1 .backcolor {
        padding-top: 100px;
        background-color: whitesmoke;
    }

    .section1 .text1 {
        font-size: x-large;
    }

    .section1 .text2 {
        font-size: xx-large;
    }

    .section1 .btn-success {
        background-color: #209448;
    }

.section-center {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

    .section-center ol {
        text-align: start;
    }

    .section-center ul {
        text-align: start;
    }

.small-line {
    line-height: 50%;
}

.home-class {
    background-color: white;
}

#PromilSlider label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
}

#PromilText {
    font-size: large;
    color: #209448;
    font-weight: 700;
}

.spreads-image-section {
    background-color: white;
    padding-bottom: 50px;
}

.spreads-image-header {
    font-size: x-large;
    font-weight: 700;
}

.USDILS-image {
    /*border: 10px outset #b1b4bb;*/
    /*background: url("../Images/USDILS_Spreads2.png") fixed 0 0;*/
    max-width: 1200px;
    width: 90%;
}

.calc-section {
    background-color: #209448;
    padding-bottom: 50px;
}

.dashboard-chart-header {
    font-size: large;
}

.dashboard-chart {
    padding: 10px;
    border: 1px outset #e2e2e2;
}

.currency-after-text {
    font-size: 25px;
    text-align: start;
    font-weight: 700;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
}

.no-right-margin {
    margin-right: 0px;
    padding-right: 0px;
}

.no-left-margin {
    margin-left: 0px;
    padding-left: 0px;
}

.no-side-margin {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.home-seperator {
    height: 5px;
    background-color: #209448;
}
