@using FlatFXCore.BussinessLayer;
@{
    Layout = "~/Views/Manage/AdminManageLayout.cshtml";
}

<div class="col-xs-10 col-xs-offset-1">
    <h2>Dashboard</h2>
    <h3>Trading Blocked: <input id="IsTradingBlocked" name="IsTradingBlocked" type="checkbox" @(TradingSecurity.Instance.IsTradingBlocked ? "checked" : "unchecked") data-toggle="toggle" data-onstyle="danger" data-offstyle="success"></h3>
    <remark id="IsTradingBlockedResult" name="IsTradingBlockedResult"></remark>
    <br /><br />
</div>
<script>
    $(function () {
        $('#IsTradingBlocked').change(function () {
            $('#IsTradingBlockedResult').html('Sending Action');
            $.ajax({
                url: '@Url.Action("SetTradingBlocked", "Manage")',
                type: 'POST',
                dataType: 'json',
                data: {
                    isBlocked: $(this).prop('checked')
                },
                success: function (data)
                {
                    if (data == true)
                        $('#IsTradingBlockedResult').html('Action succeeded');
                    else
                        $('#IsTradingBlockedResult').html('Action failed');
                }
            });

            //$(this).prop('checked');
            //$('#IsTradingEnabled').bootstrapToggle('on');
            //$('#IsTradingEnabled').bootstrapToggle('off');
            //$('#toggle-trigger').prop('checked', true).change();
            //$('#toggle-trigger').prop('checked', false).change();
        })
    })
</script>


