@{
    ViewBag.Title = "FlatFX Home Page";
}

<script src="~/JS/Home/HomePage.js"></script>

<div id="full-page">

    <div id="sc-0" class="section">
        <hgroup class="title">
            <h2>יצואן/יבואן/איש כספים?</h2>
        </hgroup>
        <p style="font-size: 40px"><b>תפסיק להיות לקוח שבוי - הצטרף למהפיכה במט"ח</b></p>
        <p>
            תן למערכת המסחר לעבוד עבורך מול כל הבנקים ולהשיג את המחיר הטוב ביותר
            <br />
            איתנו תחסוך עד &#8362;200,000 כל שנה
        </p>
        <br />
        <a class="btn btn-success btn-lg" href="@Url.Action("RegisterAll", "Account")"><span class="glyphicon glyphicon-registration-mark"></span>הצטרף למהפיכה</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success btn-lg" href="@Url.Action("RegisterDemo", "Account")"><span class="glyphicon glyphicon-registration-mark"></span>פתח חשבון דמו</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success btn-lg" href="@Url.Action("Index", "Home")#4thPage"><span class="glyphicon glyphicon-info-sign"></span>למידע נוסף</a>&nbsp;&nbsp;&nbsp;
        <br /><br />
    </div>
    <div id="sc-1" class="section">
        <video autoplay loop muted id="myVideo">
            <source src="Content/flowers.mp4" type="video/mp4">
            <source src="Content/flowers.webm" type="video/webm">
        </video>
    </div>
    <div id="sc-2" class="section">
        <h1>איך זה עובד:</h1>
        <img src="~/Images/HowItWorks2.jpg" />
        <ol class="roundHeb">
            <li class="one">
                הלקוח מבצע המרת מט"ח באמצעות האתר
                <br /><br />
            </li>
            <li class="two">
                חדר העיסקאות של FlatFX מבצע את העיסקה מול הבנק במחיר אטרקטיבי
                <br /><br />
            </li>
            <li class="three">
                הלקוח מעביר את הסכום הנדרש במטבע הרוכש
                <br /><br />
            </li>
            <li class="four">
                FlatFX מעבירה לחשבון הלקוח את הסכום הנדרש במטבע הנרכש
                <br /><br />
            </li>
            <li class="five">
                בהצלחה
                <br /><br />
            </li>
        </ol>
    </div>

    <div id="sc-3" class="section">
        <hgroup class="title">
            <h1>אודות</h1>
        </hgroup>
        <h3>תיאור:</h3>
        <div>
            <strong>FlatFX</strong> הינו אתר אינטרנטי המאפשר ללקוחות הבנקים לבצע פעולות מט"ח והמרת מטבעות מול ספקי נזילות (בנקים) באופן תחרותי, ישיר, מודע וזול.<br />
            המוצר ייצור מהפיכה בשוק המרות המטבע ויאפשר לחברות בינוניות וקטנות לבצע המרות מטבע במחירים תחרותיים שעד עתה לא ראו (20%-80% הנחה).<br />
            האתר מציג ללקוח את מצב השוק (On Line Feed) ומתריע מפני מחירי עסקאות לא כדאיים (שומר על הלקוח).<br />
            האתר מאפשר ללקוח להכניס פקודות מסחר/המרה ושולח אותן למספר בנקים במקביל. עם קבלת ציטוטי הבנקים, התמחור הזול ביותר מובלט והאתר מאפשר את ביצוע העיסקה, בקשת שיפור מחיר, צ'ט מול הבנקאי, ועוד...<br />
        </div>
        <h3>תכונות המערכת:</h3>
        <div>
            <ul>
                <li>קבלת מחירי השוק OnLine, התראה במקרה של מחיר עיסקה גבוה, שמירה על הלקוח מביצוע עיסקה במרווחים גדולים.</li>
                <li>מסך שליחת הוראת קניה/מכירה. אפשרות לשלוח לכל הבנקים במקביל או לבנקים ספציפיים בלבד.</li>
                <li>מסך ניהול קניה/מכירה מול הבנקים השונים. במסך מקבלים את המחיר של הבנק, ניתן לבקש מחיר טוב יותר, לבצע עיסקה או לבטלה. ניתן לעבור לצ'ט מול הבנק.</li>
                <li>מסכי הצ'ט, נתוני עסקאות קיימות, היסטוריית עסקאות, דוחות.</li>
                <li>מסכי ניהול עסקאות. צפיה בכל העיסקאות הפתוחות / הסגורות. צפייה בהיסטוריית העיסקאות.</li>
            </ul>
        </div>
        <h3>יתרונות עיקריים:</h3>
        <div>
            <ul>
                <li><b>הקטנת עמלות המשתמשים ב 30%-80%.</b></li>
                <li>ניתן לבדוק את המערכת במשך 3 חודשים חינם ולהפסיק את השימוש ללא תשלום</li>
                <li>השימוש במערכת גורם לבנקים להתחרות ביניהם על ביצוע העיסקה ע"י הצעת מחיר נמוך יותר</li>
                <li>ע"י השימוש במערכת הלקוח מסווג בקבוצת עמלות נמוכות בהשוואה לסיווגו כלקוח יחיד מול הבנק</li>
            </ul>
        </div>
    </div>
</div>
