<ul id="menu" style="padding-bottom:70px">
    <li data-menuanchor="firstPage"><a href="#firstPage"><span class="glyphicon glyphicon-home" style="color:darkblue; font-size: medium"></span></a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">סרטון</a></li>
    <li data-menuanchor="3rdPage"><a href="#4thpage">איך זה עובד?</a></li>
    <li data-menuanchor="4thPage"><a href="#5thpage">אודות</a></li>
    <li data-menuanchor="lastPage"><a href="#3rdPage">פעולות</a></li>
</ul>
