
<section class="content-wrapper main-content clear-fix">
    <section class="featured">
        <div class="content-wrapper" style="background-color: #37799f;">
            <hgroup class="title">
                <h1>רשימת פעולות</h1>
            </hgroup>
            <p>
                <a class="btn btn-info btn-md" href="About\Index"><span class="glyphicon glyphicon-info-sign"></span> אודות</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-md" href="HowItWorks\Index"><span class="glyphicon glyphicon-question-sign"></span> איך זה עובד?</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-md" href="#"><span class="glyphicon glyphicon-registration-mark"></span> להצטרפות</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-md" href="OnLineFXRates/ShowRates"><span class="glyphicon glyphicon-usd"></span><span class="glyphicon glyphicon-euro"></span> לבדיקת שערים עדכניים</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-md" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> לביצוע המרה</a>
                <br /><br />
                <a class="btn btn-info btn-md" href="CompanyDatas"><span class="glyphicon glyphicon-user"></span> ניהול חברות</a>
                <a class="btn btn-info btn-md" href="CompanyDatas"><span class="glyphicon glyphicon-user"></span> ניהול חשבונות חברה</a>
                <br /><br />
            </p>
        </div>
    </section>
</section>





