@{
    ViewBag.Title = "FlatFX Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>יצואן/יבואן?</h1>
            </hgroup>
            <hgroup class="title">
                <h2>חסוך עד 150,000&#8362; כל שנה</h2>
            </hgroup>
            <p>
                הלקוחות שלנו נהנים מעיסקאות מט"ח עם מירווחים נמוכים<br />
                בכ <b>30%-80%</b> מהמירווחים הניתנים בבנקים.<br />
                הצטרפו למהפכה וחיסכו לחברתכם אלפי שקלים כל חודש.<br /><br />
            </p>
        </div>
    </section>
}

@Html.Partial("ActionsView")




