<ul id="menu">
    <li><a href="/FlatFXWeb/">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home" style="color:darkblue; font-size: medium"></span></a></li>
    <li><a href="/FlatFXWeb/Home/Index#HomeHowItWorks">איך זה עובד?</a></li>
    <li>@Html.ActionLink("שערים OnLine", "ShowRates", "OnLineFXRates")</li>
    <li>@Html.ActionLink("לביצוע המרת מט\"ח", "Index", "Home")</li>
    <li><a href="/FlatFXWeb/Home/Index#HomeAbout">אודות</a></li>
    <li>@Html.ActionLink("צור קשר", "Index", "Home")</li>
</ul>