@{
    ViewBag.Title = "User Created Successfully";
}

<h2>@FlatFXResources.Resources.UserCreatedSuccessfully</h2>
<br /><br /><br />

<div>
    @Html.Raw(@FlatFXResources.Resources.UserRegisteredSucceeded)
</div>

<br /><br /><br />
